<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title>웹소설 연재 페이지</title>
</head>
<body>
<div>
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>제목</th>
            <th>회차 수정</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chapter, i : ${chapters}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${chapter.title}"></td>
            <td><a href="#" th:href="@{/contents/{novelId}/{chapterId}/new (novelId = ${chapter.novel.id}, chapterId=${chapter.id})}" class="btn btn-primary" role="button">수정</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>