<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title>웹소설 연재 페이지</title>
</head>
<body>
    <header>
        <h1>WebNovel</h1>
        <nav>
            <li>BL</li>
            <li>Fantasy</li>
            <li>Romance Fantasy</li>
        </nav>
    </header>
    <main>
        <h2>새 소설 등록하기</h2>
        <form role="form" action="/novels/new" th:object="${novelForm}" method="post">
            <div>
                <label th:for="title">제목 : </label>
                <input type="text" th:field="*{title}" placeholder="제목을 입력하세요"/>
            </div>
            <div>
                <label th:for="genre">장르 선택: </label>
                <select class="form-control" th:field="*{Genre}">
                    <option th:each="genreValue : ${T(web.novelPlatform.entity.Genre).values()}"
                            th:value="${genreValue.name()}"
                            th:text="${genreValue.name()}">
                    </option>
                </select>
            </div>
            <div>
                <label th:for="introduce">내용 : </label>
                <textarea th:text="${novelForm.introduce}" id="introduce" name="introduce" placeholder="소설 설명을 입력하세오" row="50" col="20"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">소설 등록</button>
        </form>
    </main>
    <footer>
        <p>개발, NJW</p>
        <p>jiwonna52@gmail.com</p>
        <p><a href="https://jiwonna52.tistory.com/">블로그</a></p>
    </footer>

</body>
</html>