<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title>웹소설 연재 페이지</title>
    <link rel="stylesheet" th:href="@{/src/main/resources/static/css/novelListCss.css}" />
</head>
<body>
<div>
    <table class = "table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>제목</th>
            <th>소개</th>
            <th>장르</th>
            <th>연재 상황</th>
            <th>챕터 관리</th>
            <th>모든 회차 보기</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="novel : ${novels}">
            <td th:text="${novel.title}"></td>
            <td th:text="${novel.introduce}"></td>
            <td th:text="${novel.genre}"></td>
            <td th:text="${novel.serialState}"></td>
            <td><a href="#" th:href="@{/{novelId}/contents/new (novelId=${novel.id})}" class="btn btn-primary" role="button">회차 추가</a></td>
            <td><a href="#" th:href="@{/{id}/contents (id=${novel.id})}"class="btn btn-primary" role="button">챕터 전체 보기</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>