<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title>내 소설 목록</title>
    <link rel="stylesheet" th:href="@{/css/novels/novelListStyle.css}" />
</head>
<body>
<div class="wrap">
    <header class="wrap_header">
    <div class="logo_search_user">
        <div class="logo">
            <h1>WebNovel</h1>
        </div>
        <div class="search">
            <form action="search.com">
                <label for="search_novel"></label>
                <input type="text" id="search_novel" placeholder="소설을 검색해보세요.">
                <button class="search_novel_button">검색</button>
            </form>
        </div>
        <div class="user">
            <a href="log_in.com" id="log_in">로그인</a>
            <a href="join_us.com" id="join_us">회원가입</a>
        </div>
    </div>
    <hr>
    <div class="navigator">
        <ul class="nevigator_list">
            <li>
                <a href="genre.com">
                    <span>장르</span>
                </a>
            </li>
            <li>
                <a href="rank.com">
                    <span>베스트 랭킹</span>
                </a>
            </li>
            <li>
                <a href="finished.com">
                    <span>완결작품</span>
                </a>
            </li>
        </ul>
    </div>
    </header>
    <main class="wrap_main">
        <h2>내 소설 관리</h2>
        <ul th:each="novel: ${novels}">
            <li class="novel_1">
                <div class="book_img">
                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg" alt="">
                </div>
                <div class="title_introduce">
                    <div class="title">
                        [[${novel.title}]]
                    </div>
                    <div class="introduce">
                        <p>[[${novel.introduce}]]</p>

                    </div>
                </div>
                <div class="change_buttons">
                    <button class="change_introduce">
                        <a href="#" th:href="@{/novels/{novelId}/update (novelId=${novel.id})}">소설 수정</a>
                    </button>
                    <button class="change_content">
                        <a href="#" th:href="@{/novels/{novelId}/contents/update (novelId=${novel.id})}">회차 관리</a>
                    </button>
                    <button class="change_notice">공지 관리</button>
                </div>
            </li>
        </ul>
    </main>
</div>
</body>
</html>