<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title>웹소설 연재 페이지</title>
    <link rel="stylesheet" th:href="@{/css/novels/createNovelFormStyle.css}">
</head>
<body>
<div class="wrap">
    <header class="wrap_header">
        <div class="logo_search_user">
            <div class="logo">
                <h1>WebNovel</h1>
            </div>
            <div class="search">
                <form action="search.com">
                    <label for="search_novel"></label>
                    <input type="text" id="search_novel" placeholder="소설을 검색해보세요.">
                    <button class="search_novel_button">검색</button>
                </form>
            </div>
            <div class="user">
                <a href="log_in.com" id="log_in">로그인</a>
                <a href="join_us.com" id="join_us">회원가입</a>
            </div>
        </div>
        <hr>
        <div class="navigator">
            <ul class="nevigator_list">
                <li>
                    <a href="genre.com">
                        <span>장르</span>
                    </a>
                </li>
                <li>
                    <a href="rank.com">
                        <span>베스트 랭킹</span>
                    </a>
                </li>
                <li>
                    <a href="finished.com">
                        <span>완결작품</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main class="wrap_main">
        <div class="write_new_novel">
            <form role ="form" action="novels/{novelId}/correction" th:object="${novelForm}" method="post">
                <ul>
                    <li>
                        <div class="new_novel_title">
                            <input type="text" th:value="${novel.title}">
                        </div>

                    </li>
                    <li class="new_novel_genre">
                        <select class="form-control" th:field="*{Genre}">
                            <option th:value="${novel.genre}">[[${novel.genre}]]</option>
                            <option th:each="genreValue : ${T(web.novelPlatform.entity.Genre).values()}"
                                    th:value="${genreValue.name()}"
                                    th:text="${genreValue.name()}">
                            </option>

                        </select>
                    </li>
                    <li class="new_novel_introduce">
                        <textarea th:text="${novel.introduce}" id="introduce" name="introduce" row="50" col="20"></textarea>
                    </li>
                    <button type="submit" class="new_novel_botton">소설 등록하기</button>
                </ul>
            </form>
        </div>
    </main>
    <hr>
    <footer class="wrap_footer">
        <div class="about_developer">
            <p>개발, NJW</p>
            <p>jiwonna52@gmail.com</p>
            <p><a href="https://jiwonna52.tistory.com/">블로그</a></p>
        </div>
    </footer>

</div>

</body>
</html>