<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title>WN</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
<div class="wrap">
    <a class="btn btn-lg btn-secondary" href="/novels/new">소설 등록</a>
    <header class="wrap_header">
        <div class="logo_search_user">
            <div class="logo">
                <h1>WebNovel</h1>
            </div>
            <div class="search">
                <form action="search.com">
                    <label for="search_novel"></label>
                    <input type="text" id="search_novel" placeholder="소설을 검색해보세요.">
                    <button class="search_novel_button">검색</button>
                </form>
            </div>
            <div class="user">
                <a href="#" th:href="@{/logIn}" id="log_in">로그인</a>
                <a href="join_us.com" id="join_us">회원가입</a>
            </div>
        </div>
        <hr>
        <div class="navigator">
            <ul class="nevigator_list">
                <li>
                    <a href="genre.com">
                        <span>장르</span>
                    </a>
                </li>
                <li>
                    <a href="rank.com">
                        <span>베스트 랭킹</span>
                    </a>
                </li>
                <li>
                    <a href="finished.com">
                        <span>완결작품</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main class="wrap_main">
        <div class="main_banner">
            <img src="https://cdn.pixabay.com/photo/2017/06/24/02/56/art-2436545_640.jpg" alt="예시 이미지">
        </div>
        <div class="best_novel">
            <div class="best_novel_title">
                <h2>베스트 랭킹</h2>
            </div>
            <div class="best_novel_list">
                <ul class="best_novel_list_more">
                    <li class="best_novel_list_1st">
                        <ol>
                            <li class="best_novel_list_1st_c">
                                <div>
                                    1.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>베스트 랭킹 소설 9</span>
                                </div>
                            </li>
                            <li class="best_novel_list_1st_c">
                                <div>
                                    2.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>베스트 랭킹 소설 9</span>
                                </div>
                            </li>
                            <li class="best_novel_list_1st_c">
                                <div>
                                    3.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>베스트 랭킹 소설 9</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li class="best_novel_list_2st">
                        <ol>
                            <li class="best_novel_list_2st_c">
                                <div>
                                    4.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>베스트 랭킹 소설 4</span>
                                </div>
                            </li>
                            <li class="best_novel_list_2st_c">
                                <div>
                                    5.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>베스트 랭킹 소설 5</span>
                                </div>
                            </li>
                            <li class="best_novel_list_2st_c">
                                <div>
                                    6.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>베스트 랭킹 소설 6</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li class="best_novel_list_3st">
                        <ol>
                            <li class="best_novel_list_3st_c">
                                <div>
                                    7.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>베스트 랭킹 소설 7</span>
                                </div>
                            </li>
                            <li class="best_novel_list_3st_c">
                                <div>
                                    8.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>베스트 랭킹 소설 8</span>
                                </div>
                            </li>
                            <li class="best_novel_list_3st_c">
                                <div>
                                    9.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>베스트 랭킹 소설 9</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
        <div class="new_novel">
            <div class="new_novel_title">
                <h2>따끈따끈한 최신작</h2>
            </div>
            <div class="new_novel_list">
                <ul class="new_novel_list_more">
                    <li class="new_novel_list_1st">
                        <ol>
                            <li class="new_novel_list_1st_c">
                                <div class="number">
                                    1.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>따끈따끈한 최신 소설 1</span>
                                </div>
                            </li>
                            <li class="new_novel_list_1st_c">
                                <div class="number">
                                    2.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>따끈따끈한 최신 소설 2</span>
                                </div>
                            </li>
                            <li class="new_novel_list_1st_c">
                                <div class="number">
                                    3.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>따끈따끈한 최신 소설 3</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li class="new_novel_list_2st">
                        <ol>
                            <li class="new_novel_list_2st_c">
                                <div class="number">
                                    4.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>따끈따끈한 최신 소설 4</span>
                                </div>
                            </li>
                            <li class="new_novel_list_2st_c">
                                <div class="number">
                                    5.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>따끈따끈한 최신 소설 5</span>
                                </div>
                            </li>
                            <li class="new_novel_list_2st_c">
                                <div class="number">
                                    6.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>따끈따끈한 최신 소설 6</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li class="new_novel_list_3st">
                        <ol>
                            <li class="new_novel_list_3st_c">
                                <div class="number">
                                    7.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>따끈따끈한 최신 소설 7</span>
                                </div>
                            </li>
                            <li class="new_novel_list_3st_c">
                                <div class="number">
                                    8.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>따끈따끈한 최신 소설 8</span>
                                </div>
                            </li>
                            <li class="new_novel_list_3st_c">
                                <div class="number">
                                    9.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>따끈따끈한 최신 소설 9</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
        <div class="recommendation_novel">
            <div class="recommendation_novel_title">
                <h2>주인장의 추천</h2>
            </div>
            <div class="recommendation_list">
                <ul class="recommendation_list_more">
                    <li class="recommendation_novel_list_1st">
                        <ol>
                            <li class="recommendation_list_1st_c">
                                <div>
                                    1.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>주인장의 추천 소설 1</span>
                                </div>
                            </li>
                            <li class="recommendation_list_1st_c">
                                <div>
                                    2.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>주인장의 추천 소설 2</span>
                                </div>
                            </li>
                            <li class="recommendation_list_1st_c">
                                <div>
                                    3.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>주인장의 추천 소설 3</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li class="recommendation_novel_list_2st">
                        <ol>
                            <li class="recommendation_list_2st_c">
                                <div>
                                    4.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>주인장의 추천 소설 4</span>
                                </div>
                            </li>
                            <li class="recommendation_list_2st_c">
                                <div>
                                    5.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>주인장의 추천 소설 5</span>
                                </div>
                            </li>
                            <li class="recommendation_list_3st_c">
                                <div>
                                    6.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>주인장의 추천 소설 6</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                    <li class="recommendationg_novel_list_3st">
                        <ol>
                            <li class="recommendation_list_3st_c">
                                <div>
                                    7.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>주인장의 추천 소설 7</span>
                                </div>
                            </li>
                            <li class="recommendation_list_3st_c">
                                <div>
                                    8.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>주인장의 추천 소설 8</span>
                                </div>
                            </li>
                            <li class="recommendation_list_3st_c">
                                <div>
                                    9.
                                </div>
                                <div>
                                    <img src="https://cdn.pixabay.com/photo/2023/06/12/00/11/smartphone-8057248_640.jpg"
                                         alt="">
                                </div>
                                <div>
                                    <span>주인장의 추천 소설 9</span>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <hr>
    <footer class="wrap_footer">
        <div class="about_developer">
            <p>개발, NJW</p>
            <p>jiwonna52@gmail.com</p>
            <p><a href="https://jiwonna52.tistory.com/">블로그</a></p>
        </div>
    </footer>
</div>
</body>
</html>