<!DOCTYPE html>
<html lang="ko">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회차 목록</title>
    <link rel="stylesheet" href="/css/contents/contentUpdateStyle.css">
</head>

<body>
<div class="wrap">
    <header class="wrap_header">
        <div class="logo_search_user">
            <div class="logo">
                <h1>WebNovel</h1>
            </div>
            <div class="search">
                <form action="search.com">
                    <label for="search_novel"></label>
                    <input type="text" id="search_novel" placeholder="소설을 검색해보세요.">
                    <button class="search_novel_button">검색</button>
                </form>
            </div>
            <div class="user">
                <a href="log_in.com" id="log_in">로그인</a>
                <a href="join_us.com" id="join_us">회원가입</a>
            </div>
        </div>
        <hr>
        <div class="navigator">
            <ul class="nevigator_list">
                <li>
                    <a href="genre.com">
                        <span>장르</span>
                    </a>
                </li>
                <li>
                    <a href="rank.com">
                        <span>베스트 랭킹</span>
                    </a>
                </li>
                <li>
                    <a href="finished.com">
                        <span>완결작품</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>

    <main class="wrap_main">
        <h2>소설 제목</h2>
        <h3>회차 수정</h3>
        <div class="novel_contents">
            <ul th:each="content, i : ${contents}">
                <li>
                    <div class="novel_content">
                        <div class="content_num">
                            <span th:text="${i.index+1}"></span>
                        </div>
                        <div class="content_title">
                            <a th:href="@{/novels/{novelId}/view/{contentId} (novelId=${novel.id}, contentId=${content.id})}"
                               th:text="${content.title}"></a>
                        </div>
                        <div class="buttons">
                            <button>
                                <a th:href="@{/novels/{novelId}/contents/{contentId}/update (novelId=${novel.id}, contentId=${content.id})}">
                                    수정
                                </a>
                                </button>
                            <form method="POST" th:action="@{/novels/{novelId}/contents/{contentId}/delete (novelId=${novel.id}, contentId=${content.id})}">
                                <button type="submit" name="submit" value="value" class="link-button">삭제</button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="update_content">
            <button class="update_content_button">
                <a href="#" th:href="@{/{novelId}/contents/new (novelId=${novel.id})}">회차 추가</a>
            </button>
        </div>
    </main>

    <hr>
    <footer class="wrap_footer">
        <div class="about_developer">
            <p>개발, NJW</p>
            <p>jiwonna52@gmail.com</p>
            <p><a href="https://jiwonna52.tistory.com/">블로그</a></p>
        </div>
    </footer>

</div>
</body>

</html>