<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title>내용 등록 페이지</title>
    <link rel="stylesheet" href="/css/contents/createContentFormStyle.css">
</head>
<body>
<div class="wrap">
    <header class="wrap_header">
        <div class="logo_search_user">
            <div class="logo">
                <h1>WebNovel</h1>
            </div>
            <div class="search">
                <form action="search.com">
                    <label for="search_novel"></label>
                    <input type="text" id="search_novel" placeholder="소설을 검색해보세요.">
                    <button class="search_novel_button">검색</button>
                </form>
            </div>
            <div class="user">
                <a href="log_in.com" id="log_in">로그인</a>
                <a href="join_us.com" id="join_us">회원가입</a>
            </div>
        </div>
        <hr>
        <div class="navigator">
            <ul class="nevigator_list">
                <li>
                    <a href="genre.com">
                        <span>장르</span>
                    </a>
                </li>
                <li>
                    <a href="rank.com">
                        <span>베스트 랭킹</span>
                    </a>
                </li>
                <li>
                    <a href="finished.com">
                        <span>완결작품</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>
    <main class="wrap_main">
        <h2>회차 추가</h2>
        <form role="form" th:object="${contentForm}" method="post">
            <div class="newContent_title">
                <label for="content_title"></label>
                <input type="text" th:field="*{title}" id="content_title" placeholder="소제목을 입력하세요.">
            </div>
            <div class="new_content">
                <textarea name="" th:field="*{contents}" placeholder="내용을 입력하세요."></textarea>
            </div>
            <button class="new_content_button">회차 등록</button>
        </form>
    </main>
    <hr>
    <footer class=" wrap_footer">
        <div class="about_developer">
            <p>개발, NJW</p>
            <p>jiwonna52@gmail.com</p>
            <p><a href="https://jiwonna52.tistory.com/">블로그</a></p>
        </div>
    </footer>
    </div>
</body>
</html>