<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang = "ko">
<head>
    <meta charset="UTF-8">
    <title>내용 등록 페이지</title>
</head>
<body>
    <header>
        <h1>WebNovel</h1>
        <nav>
            <li>BL</li>
            <li>Fantasy</li>
            <li>Romance Fantasy</li>
        </nav>
    </header>
    <main>
        <h2>내용 등록하기</h2>
        <form role="form" th:object="${contentForm}" method="post">
            <div>
                <label for="content_title">소제목</label>
                <input type="text" th:field="*{title}" id="content_title">
            </div>
            <div>
                <label th:for="contents">내용 등록 </label>
                <p>
                    <textarea th:text="${contentForm.contents}" id="contents" name="contents" placeholder="소설 내용을 입력하세오" row="50" col="20"></textarea>
                </p>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </main>
    <footer>
        <p>개발, NJW</p>
        <p>jiwonna52@gmail.com</p>
        <p><a href="https://jiwonna52.tistory.com/">블로그</a></p>
    </footer>
</body>
</html>